.container {
width: 400px;
margin-left: auto;
margin-right: auto; 
margin-top: 10rem;
padding: 10px;
text-align: center; 
background: rgb(104, 16, 16);
border: 1px solid dingrey; 
border-radius: 5px;
}
.output {
margin-bottom: 1ren;
height: 30px;
}
input{
text-align: right;
}
button {
  margin: 2px;
   width: 5rem;
   height: 40px; 
}
